body{
    font-family:Microsoft JhengHei;
    background-color:blanchedalmond;
    background-size:cover;
}
#index{
    text-align:center;
    font-size:18px;
}
#category{
    text-align:left;
    font-size:18px;
}
#category_edit{
    text-align:right;
    font-size:18px;
}
#individaul{
    text-align:center;
    font-size:18px;
}

#ticketdata{
    text-align:left;
    font-size:18px;
}

#button{
    text-align:center;
}