<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/category.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <h:head>
        <title>票券媒合系統</title>
        <h:outputStylesheet library="css" name="category.css" />
        <h:outputStylesheet library="css" name="style.css" />
        <script src="https://use.fontawesome.com/2a877f719f.js"></script>
    </h:head>
    <h:body>
        <h1 class="order-table-title">票券分類一覽表</h1>
        <h:form>
            <h:dataTable value="#{ticketCategoryBean.allCategories}" var="c"
                         styleClass="order-table" 
                         headerClass="order-table-header"
                         rowClasses="order-table-odd-row, order-table-even-row"
                         columnClasses="order-table-name-column,order-table-icon-colume">
                <h:column>
                    <f:facet name="header" > 類別名稱 </f:facet>          
                    <h:outputText value="#{c.name}"/>
                </h:column>
                <h:column>
                    <!--呼叫 managed bean method 記錄修改前的值-->
                    <!--ToDo: edit Action-->
                    <!--editCateogyr() will pop up a dialog for editing.-->
                    <p:commandButton  action="#{ticketCategoryBean.updateCategoryAction(c)}" value="修改" icon="fa fa-pencil" />
                    <!--ToDo: delete action-->
                    <p:commandButton  action="#{ticketCategoryBean.removeCategoryAction(c)}" value="刪除" icon="fa fa-trash" />
                </h:column>
            </h:dataTable><br/><br/>
            <div id="button">
                <p:row>
                    <p:commandButton styleClass="order-table-button" 
                                     value="新增票券分類" 
                                     actionListener="#{ticketCategoryBean.addCategoryAction}"
                                     onclick="PF('addDialogVar').show();" />
                    <p:commandButton value="返回主畫面" action="index" />
                </p:row>
            </div>
        </h:form>

        <div id="category">
            <p:dialog id="addDialogID"
                      header="新增票券類別"
                      widgetVar="addDialogVar"
                      modal="true" >
                <h:outputText value="請輸入欲新增之類別名稱: " />
                <h:form>
                    <h:inputText value="#{ticketCategoryBean.currentCategory.name}"/><br/>
                    <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('addDialogVar').hide();" actionListener="#{ticketCategoryBean.CategoryCancel}" />
                    <h:commandButton styleClass="add-ind-button" value="送出" action="#{ticketCategoryBean.addCategoryDB}" />
                </h:form>
            </p:dialog>
            <!--使用 lazy loading 功能，讓對話框顯示是採取讀取 managed bean 的 property 值-->
            <!-- modal="true"  是表示綁定對話框只能操作對話框 不能執行對話框以外的動作-->
            <p:dialog id="editDialogID" header="修改票券類別" 
                      widgetVar="editDialogVar" 
                      modal="true" 
                      height="120"
                      dynamic="true">
                <h:outputText value="請輸入欲修改之類別名稱: " />
                <h:form>
                    <h:inputText value="#{ticketCategoryBean.currentCategory.name}" /><br/>
                    <h:commandButton styleClass="add-ind-button"  value="取消" onclick="PF('editDialogVar').hide();" actionListener="#{ticketCategoryBean.CategoryCancel}"/>
                    <h:commandButton styleClass="add-ind-button"  value="送出" action="#{ticketCategoryBean.updateCategoryDB}" />
                </h:form>
            </p:dialog>
            <p:dialog id="deleteDialogID" header="刪除票券類別" widgetVar="deleteDialogVar" modal="true" 
                      height="120" dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false">
                <h:form>
                    <h:outputText value="確認是否刪除 #{ticketCategoryBean.currentCategory.name} ? " /><br/><br/>
                    <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('deleteDialogVar').hide();" actionListener="#{ticketCategoryBean.CategoryCancel}"/>
                    <h:commandButton styleClass="add-ind-button" value="確定刪除" action="#{ticketCategoryBean.removeCategoryDB}" />
                </h:form>
            </p:dialog>
        </div>
    </h:body>
</html>