<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>票券媒合系統</title>
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="donerdata.css" />
        <script src="https://use.fontawesome.com/2a877f719f.js"></script>
    </h:head>
    <h:body>
        <h:form id="donerdata" styleClass="table">
            <p:focus context="donerdata" />
            <p:messages  autoUpdate="true"/>
            <p:panelGrid style="width:100% ; height:100%;">
                <p:row>
                    <p:column class="add-ind-title" colspan="12">捐贈者資料</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">建檔日期：</p:column>
                    <p:column colspan="6">
                        <p:outputLabel id="create_date" value="#{donorDataBean.currentDonerData.create_date}" >
                            <f:convertDateTime timeZone="Asia/Taipei" type="both" />
                        </p:outputLabel>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">捐贈類別：</p:column>
                    <p:column colspan="6" >
                        <h:outputText id="type" value="#{donorDataBean.currentDonerData.category.name}"/>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">捐贈者名稱：</p:column>
                    <p:column colspan="6">
                        <h:outputText id="donername" value="#{donorDataBean.currentDonerData.donername}"/>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">聯絡人：</p:column>
                    <p:column colspan="6">
                        <h:outputText value="#{donorDataBean.currentDonerData.connectname}"/>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">電話：</p:column>
                    <p:column colspan="6">
                        <h:outputText style="width:3% " value="#{donorDataBean.currentDonerData.area_code}" />－<h:outputText value="#{donorDataBean.currentDonerData.tel}" />
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">地址：</p:column>
                    <p:column colspan="2">
                        <h:outputText value="#{donorDataBean.currentDonerData.address}"/>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">簡介</p:column>
                    <p:column colspan="7">
                        <h:outputText style="width: 28% " value="#{donorDataBean.currentDonerData.content}"/>
                    </p:column>
                </p:row>                
            </p:panelGrid>
            <p:commandButton styleClass="add-ind-button" value="返回" immediate="true" action="donerData" />
        </h:form>           
    </h:body>
</html>