<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ps="http://java.sun.com/jsf/passthrough">

    <h:head>
        <title>新增捐贈者</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <h:outputStylesheet library="css" name="category.css" />
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="donerdata.css" />
    </h:head>
    <h:body>
        <h1 class="order-table-title">捐贈者資料一覽表</h1>
        <h:form>
            <p:dataTable value="#{donorDataBean.allDonerData}" var="donor"
                         rowStyleClass="doner-row">
                <p:column style="width:8%" >
                    <f:facet name="header" > 類別 </f:facet>          
                    <h:outputText value="#{donor.category.name}"/>
                </p:column>
                <p:column style="width:35%">
                    <f:facet name="header" > 名稱 </f:facet> 
                    <h:outputText value="#{donor.donername}"/>
                </p:column>
                <p:column style="width:12%">
                    <f:facet name="header" > 聯絡人 </f:facet>          
                    <h:outputText value="#{donor.connectname}"/>
                </p:column>
                <p:column style="width:18%" >
                    <f:facet name="header" > 電話 </f:facet>
                    <h:outputText value="#{donor.area_code}"/> -
                    <h:outputText value="#{donor.tel}"/>
                </p:column>
                <p:column>
                    <!--呼叫 managed bean method 記錄修改前的值-->
                    <!--ToDo: edit Action-->
                    <!--editCateogyr() will pop up a dialog for editing.-->
                    <p:commandButton action="#{donorDataBean.viewDonerDataAction(donor)}" value="檢視" icon="fa fa-file-text" />
                    <p:commandButton  action="#{donorDataBean.prepareEdit(donor)}" value="修改" icon="fa fa-pencil" />
                    <!--ToDo: delete action-->
                    <p:commandButton  action="#{donorDataBean.removeDonerDataAction(donor)}" value="刪除" icon="fa fa-trash" />

                    <p:dialog id="deleteDialogID" header="刪除捐贈者資料"  widgetVar="deleteDialogVar"  modal="true" 
                              height="100" dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false">
                        <h:form>
                            <h:outputText value="確認是否刪除 捐贈者 #{donorDataBean.currentDonerData.connectname} 的資料  ? " /><br/><br/>
                            <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('deleteDialogVar').hide();" />
                            <h:commandButton styleClass="add-ind-button" value="確定刪除" action="#{donorDataBean.removeDonerData}" />
                        </h:form>
                    </p:dialog>
                </p:column>
            </p:dataTable><br/><br/>
            <div id="button">
                <p:row>
                    <p:commandButton styleClass="order-table-button" value="新增捐贈者資料" action="#{donorDataBean.prepareCreate()}" />
                    <p:commandButton value="返回主畫面" action="index" />
                </p:row>
            </div>
        </h:form>
    </h:body>
</html>
