<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough" >

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>新增捐贈者-輸入表單</title>
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="donerdata.css" />
        <script src="https://use.fontawesome.com/2a877f719f.js"></script>
    </h:head>
    <h:body>
        <h:form id="donerdata"
                styleClass="table">
            <p:focus context="donerdata" />
            <p:messages  autoUpdate="true"/>
            <p:panelGrid style="width:100% ; height:100%;">
                <p:row>
                    <p:column class="add-ind-title" colspan="12">捐贈者資料</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">建檔日期：</p:column>
                    <p:column colspan="6">
                        <p:outputLabel id="create_date" value="#{donorDataBean.prepareCreateDate()}" >
                            <f:convertDateTime timeZone="Asia/Taipei" type="both" />
                        </p:outputLabel>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">類別：</p:column>
                    <p:column colspan="6" >
                        <p:selectOneMenu 
                            id="type" 
                            value="#{donorDataBean.currentDonerData.category}" 
                            converter="donerCategoryConverter">
                            <f:selectItem itemLabel="請選擇" itemValue="0" />
                            <f:selectItems  
                                value="#{donerCategoryBean.allCategories}" 
                                var="doner" itemLabel="#{doner.name}"
                                itemValue="#{doner}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">捐贈者名稱：</p:column>
                    <p:column colspan="6">
                        <p:inputText id="donername" 
                                     value="#{donorDataBean.currentDonerData.donername}"
                                     maxlength="50" 
                                     required="true"
                                     requiredMessage="必要欄位"
                                     ps:placeholder="字數50字以內">
                            <f:validateLength minimum="1" maximum="50" />
                            <p:ajax process="@this" update="donernameError" />
                        </p:inputText>
                        <p:message id="donernameError" for="donername" />
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">聯絡人：</p:column>
                    <p:column colspan="6">
                        <p:inputText maxlength="50" ps:placeholder="字數50字以內" value="#{donorDataBean.currentDonerData.connectname}"/>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">電話：</p:column>
                    <p:column colspan="6">
                        <p:inputText style="width:3% " value="#{donorDataBean.currentDonerData.area_code}" />－
                        <p:inputText value="#{donorDataBean.currentDonerData.tel}" /> 例如：04-12345678 or 09-12345678
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">地址：</p:column>
                    <p:column colspan="2">
                        <p:inputText maxlength="50" ps:placeholder="字數50字以內(可略)" value="#{donorDataBean.currentDonerData.address}"/>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">簡介</p:column>
                    <p:column colspan="7">
                        <p:inputTextarea style="width: 28% " maxlength="200" ps:placeholder="字數200字以內(可略)" value="#{donorDataBean.currentDonerData.content}"/>
                    </p:column>
                </p:row>                
            </p:panelGrid>
            <p:commandButton styleClass="add-ind-button" value="取消" immediate="true" action="donerData" />
            <p:commandButton styleClass="add-ind-button" value="送出" action="donerData-view"/>
        </h:form>           
    </h:body>
</html>