<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>票券媒合系統</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <h:outputStylesheet library="css" name="style.css" />
        <!--<script src="https://use.fontawesome.com/2a877f719f.js"></script>-->
    </h:head>
    <h:body>
        <div id="index">
            <h1>主畫面</h1>
            <h:form>
                <p:commandButton styleClass="order-table" value="個人資料" action="individual" />
                <p:commandButton styleClass="order-table" value="票券類別一覽表" action="category" />
                <p:commandButton styleClass="order-table" value="票券資料一覽表" action="ticketData" />
                <p:commandButton styleClass="order-table" value="捐贈者資料一覽表" action="donerData" />
            </h:form>
        </div>
    </h:body>
</html>