<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:ps="http://java.sun.com/jsf/passthrough">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css"  href="css/individual.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <h:head>
        <title>票券媒合系統</title>
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="individual.css" />
        <script src="https://use.fontawesome.com/2a877f719f.js"></script>
    </h:head>
    <h:body>
        <h:form id="createIndividual" styleClass="table">
            <p:focus context="createIndividual" />
            <p:panelGrid style="width:100% ; height:100%;">
                <p:row>
                    <p:column class="add-ind-title" colspan="12">基本資料</p:column>
                </p:row>
                <!-- inputTextarea 改變輸入框的高度 -->
                <p:row>
                    <p:column colspan="2"> 姓名：</p:column>
                    <p:column colspan="6">
                        <h:outputText id="username" value="#{receiver.currentReceiver.name}" />
                    </p:column>
                    <p:column rowspan="3">
                        Picture 
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2"> 身份證字號: </p:column>
                    <p:column colspan="6">
                        <h:outputText id="idNumber" value="#{receiver.currentReceiver.idNumber}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">出生年月日</p:column>
                    <p:column>
                        <h:outputText value="#{receiver.currentReceiver.birth}" >
                            <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column >年</p:column>
                    <p:column >
                        <h:outputText value="#{receiver.currentReceiver.birth}" >
                            <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="MM" />
                        </h:outputText>
                    </p:column>                    
                    <p:column >月</p:column>
                    <p:column >
                        <h:outputText value="#{receiver.currentReceiver.birth}" >
                            <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="dd" />
                        </h:outputText>
                    </p:column>
                    <p:column >日</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">性別</p:column>
                    <p:column colspan="6">
                        <h:outputText id="gender" value="#{receiver.currentReceiver.gender}" />
                    </p:column>
                    <p:column colspan="1"><p:commandButton value="選擇檔案"/> </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">電話</p:column>
                    <p:column colspan="7">
                        <h:outputText id="phoneInput" value="#{receiver.currentReceiver.phoneNumber}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">手機</p:column>
                    <p:column colspan="7">
                        <h:outputText id="mobilePhoneInput" value="#{receiver.currentReceiver.mobileNumber}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">地址</p:column>
                    <p:column colspan="7">
                        <h:outputText id="address" value="#{receiver.currentReceiver.address}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">興趣</p:column>
                    <p:column colspan="7">
                        <ui:repeat value="#{receiver.currentReceiver.interestings}" var="value">
                          ☑  #{value} 
                        </ui:repeat>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">附註</p:column>
                    <p:column colspan="7">
                        <h:outputText id="content" value="#{receiver.currentReceiver.note}" />
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:commandButton styleClass="add-ind-button" value="返回" immediate="true" action="individual" />
        </h:form>           
    </h:body>
</html>