<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ps="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>個案資料新增</title>
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="individual.css" />
        <!--<script src="https://use.fontawesome.com/2a877f719f.js"></script>-->
    </h:head>
    <h:body>
        <ui:debug hotkey="x" />
        <h:form id="createIndividual" styleClass="table">
            <p:focus context="createIndividual" />
            <p:panelGrid style="width:100% ; height:100%;">
                <p:row>
                    <p:column class="add-ind-title" colspan="12">基本資料</p:column>
                </p:row>
                <!-- inputTextarea 改變輸入框的高度 -->
                <p:row>
                    <p:column colspan="2">姓名：</p:column>
                    <p:column colspan="6">
                        <p:inputText id="username" 
                                     value="#{receiver.currentReceiver.name}"
                                     ps:placeholder="王小明"
                                     maxlength="5" 
                                     required="true"
                                     requiredMessage="Reqiored Field">
                            <f:validateLength minimum="1" maximum="5" />
                            <p:ajax process="@this" update="usernameError" />
                        </p:inputText>
                        <p:message id="usernameError" for="username" />
                    </p:column>
                    <p:column rowspan="3">
                        Picture 
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">
                        身份證字號: 
                    </p:column>
                    <p:column colspan="6">
                        <p:inputText id="idNumber" 
                                     value="#{receiver.currentReceiver.idNumber}"
                                     ps:placeholder="A123456789"
                                     maxlength="10">
                            <f:validateRegex pattern="(([A-Z]|[a-z])\d{9})?"/>
                            <p:ajax process="@this" update="idNumberError" />
                        </p:inputText>
                        <p:message id="idNumberError" for="idNumber" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">出生年月日</p:column>
                    <p:column >
                        <p:inputText id="birthYearInput" value="#{receiver.birthYear}"
                                     validatorMessage="需介於 1900 到 目前時間的年份"
                                     maxlength="4">
                            <f:validateLongRange minimum="1900" maximum="#{birthDateBean.currentYear}"/>
                            <p:ajax event="valueChange" process="@this" update="daySelection birthYearError" />
                        </p:inputText>
                        年
                        <p:message id="birthYearError" for="birthYearInput" />
                    </p:column>
                    <!--<p:column >年</p:column>-->
                    <p:column >
                         <p:selectOneMenu value="#{receiver.birthMonth}" >
                            <f:selectItems value="#{birthDateBean.monthItems}" />
                            <p:ajax event="valueChange" process="@this" update="daySelection" />
                        </p:selectOneMenu>
                    </p:column>
                    <!--<p:column >月</p:column>-->
                    <p:column >
                         <p:selectOneMenu id="daySelection" value="#{receiver.birthDay}">
                            <f:selectItems value="#{birthDateBean.getDayItems(receiver.birthYear, receiver.birthMonth)}" />
                        </p:selectOneMenu>
                    日
                    </p:column>
                    <!--<p:column >日</p:column>-->
                </p:row>
                <p:row>
                    <p:column colspan="2">性別</p:column>
                    <p:column colspan="6">
                        <p:selectOneMenu value="#{receiver.currentReceiver.gender}">
                            <f:selectItem itemLabel="請選擇" itemValue="" />
                            <f:selectItem itemLabel="男性" itemValue="男性" />
                            <f:selectItem itemLabel="女性" itemValue="女性" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column colspan="1"><p:commandButton value="選擇檔案"/> </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">電話</p:column>
                    <p:column colspan="7">
                        <p:inputText id="phoneInput" 
                                     value="#{receiver.currentReceiver.phoneNumber}"
                                     ps:placeholder="04-1234-5678"
                                     maxlength="12">
                            <p:ajax process="@this" update="phoneError" />
                        </p:inputText>
                        <p:message id="phoneError" for="phoneInput" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">手機</p:column>
                    <p:column colspan="7">
                        <p:inputText id="mobilePhoneInput"
                                     value="#{receiver.currentReceiver.mobileNumber}"
                                     ps:placeholder="0928-123-456"
                                     maxlength="12">
                            <p:ajax process="@this" update="mobilePhoneError" />
                        </p:inputText>
                        <p:message id="mobilePhoneError" for="mobilePhoneInput" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">地址</p:column>
                    <p:column colspan="7"><p:inputText value="#{receiver.currentReceiver.address}"/></p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">興趣</p:column>
                    <p:column colspan="7">
                        <p:selectManyCheckbox value="#{receiver.currentReceiver.interestings}">
                            <f:selectItem itemLabel="運動" itemValue="運動" />
                            <f:selectItem itemLabel="音樂" itemValue="音樂" />
                            <f:selectItem itemLabel="展覽" itemValue="展覽" />
                        </p:selectManyCheckbox>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">附註</p:column>
                    <p:column colspan="7">
                        <p:inputTextarea value="#{receiver.currentReceiver.note}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:commandButton styleClass="add-ind-button" value="取消" immediate="true" action="individual" />
            <p:commandButton ajax="false" styleClass="add-ind-button" value="送出"  action="individual-view?faces-redirect=true"/>
        </h:form>
    </h:body>
</html>