<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ps="http://java.sun.com/jsf/passthrough">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css"  href="css/individual.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <h:head>
        <title>票券媒合系統</title>
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="individual.css" />
        <script src="https://use.fontawesome.com/2a877f719f.js"></script>
    </h:head>
    <h:body>
        <h1 class="add-ind-title">個案資料查詢</h1>
        <div id="individaul">
            <h:form>
                <!-- a:placeholder可以顯示輸入欄位的提示字
                姓名：<h:inputText value=""  a:placeholder="可輸入萬用字元" /><br/>
                身分證字號：<h:inputText value="" a:placeholder="ex:A123456789" /><br/>
                註:輸入其一即可查詢 <p:commandButton   action="#"  value="搜尋" icon="fa fa-search" /><br/><br/>
                以上暫緩<p/>-->
                <p:commandButton value="新增個案資料" action="#{receiver.prepareCreate()}"/>
                <p:commandButton value="返回主畫面" action="index" />
                <p:dataTable value="#{receiver.allIndividualData}" var="individual" 
                             emptyMessage="目前還沒有資料"  >
                    <p:column style="width: 8%">
                        <f:facet name="header">編號</f:facet>
                        <h:outputText value="#{individual.id}"/>
                    </p:column>
                    <p:column style="width: 20%" filterBy="#{individual.name}" headerText="姓名"  filterMatchMode="contains">
                        <h:outputText value="#{individual.name}"/>
                    </p:column>
                    <p:column style="width: 20%" filterBy="#{individual.idNumber}" headerText="身分證"  filterMatchMode="contains">
                        <h:outputText value="#{individual.idNumber}"/>
                    </p:column>
                    <p:column style="width: 20%" filterBy="#{individual.birth}" headerText="生日"  filterMatchMode="contains">
                        <h:outputText value="#{individual.birth}">
                            <f:convertDateTime type="date" pattern="yyyy/MM/dd" timeZone="Asia/Taipei" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <!--呼叫 managed bean method 記錄修改前的值-->
                        <p:commandButton action="#{receiver.viewIndividualAction(individual)}" value="檢視" icon="fa fa-file-text"   />
                        <p:commandButton action="#{receiver.prepareEdit(individual)}" value="修改" icon="fa fa-pencil" />
                        <p:commandButton action="#{receiver.removeIndividualAction(individual)}" value="刪除"  icon="fa fa-trash" />
                    </p:column>
                </p:dataTable>
            </h:form>
            <!--使用 lazy loading 功能，讓對話框顯示是採取讀取 managed bean 的 property 值-->
            <!-- modal="true"  是表示綁定對話框只能操作對話框 不能執行對話框以外的動作-->
            <p:dialog  styleClass="table" header="修改類別"  widgetVar="editDialogVar"  >
                <h:form>

                </h:form>
            </p:dialog>
            <p:dialog id="deleteDialog" header="刪除個案資料"  widgetVar="deleteDialogVar" modal="true"
                     height="100" dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false">
                <h:form>
                    <h:outputText value="確認是否刪除 #{receiver.currentReceiver.name} 個案資料 ? " /><br/><br/>
                    <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('deleteDialogVar').hide();" />
                    <h:commandButton styleClass="add-ind-button" value="確定刪除" action="#{receiver.removeindividualData}" />
                </h:form>
            </p:dialog>
        </div>
    </h:body>
</html>