<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <title>票券媒合系統</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <h:outputStylesheet library="css" name="category.css" />
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="ticketdata.css" />
        <!--<script src="https://use.fontawesome.com/2a877f719f.js"></script>-->
    </h:head>
    <h:body>
        <h1 class="order-table-title">票券資料一覽表</h1>
        <h:form id="ticketListForm">
            <p:dataTable  id="listTable" value="#{ticketDataBean.allTickerData}" var="ticket"
                          rowStyleClass="ticket-row">
                <p:column style="width:8%">
                    <f:facet name="header" > 票券類別 </f:facet>          
                    <h:outputText value="#{ticket.category.name}"/>
                </p:column>    
                <p:column style="width:17%">
                    <f:facet name="header" > 票券名稱 </f:facet>          
                    <h:outputText value="#{ticket.name}"/>
                </p:column>
                <p:column style="width:5%">
                    <f:facet name="header" > 剩餘數量 </f:facet>          
                    <h:outputText value="#{ticket.qty}"/>
                </p:column>
                <p:column style="width:20%">
                    <f:facet name="header" > 使用期限 </f:facet>
                    <h:outputText  value="#{ticket.startDate}">
                        <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                    </h:outputText> 至 
                    <h:outputText  value="#{ticket.endDate}">
                        <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                    </h:outputText>
                </p:column>                
                <p:column style="width:9%">
                    <f:facet name="header" > 備註 </f:facet>          
                    <h:outputText value="#{ticket.status}">
                        <f:converter converterId="ticketStatusConverter" />
                    </h:outputText>
                    <h:outputText value=" - #{postBean.findByTicket(ticket).id}" />
                </p:column>
                <p:column>
                    <!--呼叫 managed bean method 記錄修改前的值-->
                    <!--ToDo: edit Action-->
                    <!--editCateogyr() will pop up a dialog for editing.-->
                    <p:commandButton 
                        action="#{ticketDataBean.preparePosting(ticket)}"
                        value="上架" icon="fa fa-arrow-circle-up" update=":ticketListForm:addNewPostDialogID" 
                         >
                       
                    </p:commandButton>
                    <!--下架按鈕-->
                    <p:commandButton 
                        action="#{ticketDataBean.prepareOffPosting(ticket)}"
                        value="下架" icon="fa fa-arrow-circle-down" update=":ticketListForm:delPostDialogID" 
                         >
                    </p:commandButton>

                    <p:commandButton action="#{ticketDataBean.viewTicketDataAction(ticket)}" 
                                     value="檢視" icon="fa fa-file-text" >
                    </p:commandButton>
                    <p:commandButton 
                        action="#{ticketDataBean.prepareEdit(ticket)}" value="修改" icon="fa fa-pencil" />
                    <!--ToDo: delete action-->
                    <p:commandButton   
                        action="#{ticketDataBean.removeTicketDataAction(ticket)}" value="刪除" icon="fa fa-trash" />


                    <p:dialog id="deleteDialog" header="刪除票券資料" widgetVar="deleteDialogVar" modal="true"
                              height="100" dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false">
                        <h:form>
                            <h:outputText value="確認是否刪除 #{ticketDataBean.currentTicketData.name} 票券資料 ? " /><br/><br/>
                            <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('deleteDialogVar').hide();" />
                            <h:commandButton styleClass="add-ind-button" value="確定刪除" action="#{ticketDataBean.removeTicketData}" />
                        </h:form>
                    </p:dialog>                    
                </p:column>
            </p:dataTable><br/><br/>
            <div id="button">
                <p:row>
                    <p:commandButton styleClass="order-table-button" value="新增票券資料" action="#{ticketDataBean.prepareCreate()}" />
                    <p:commandButton value="返回主畫面" action="index" />
                </p:row>
            </div>
            <!-- Dialogs -->

            <p:dialog id="addNewPostDialogID" 
                      header="上架票券" widgetVar="addNewPostDialogVar" modal="true"
                      height="100" dynamic="true" closable="false" 
                      draggable="false" closeOnEscape="true" resizable="false">

                <h:outputText value="確認是否上架 #{ticketDataBean.currentTicketData.name} 票券？" /><br/>

                <p:commandButton styleClass="add-ind-button" value="取消" 
                                 onclick="PF('addNewPostDialogVar').hide();"  />

                <p:commandButton styleClass="add-ind-button" 
                                 onclick="PF('addNewPostDialogVar').hide();" 
                                 value="確定" action="#{postBean.addPostDB(ticketDataBean.currentTicketData)}" 
                                 update=":ticketListForm:listTable"  />
            </p:dialog>            
            
            <p:dialog id="delPostDialogID" 
                      header="下架票券" widgetVar="delPostDialogVar" modal="true"
                      height="100" dynamic="true" closable="false" 
                      draggable="false" closeOnEscape="true" resizable="false">

                <h:outputText value="確認是否下架 #{ticketDataBean.currentTicketData.name} 票券？" /><br/>

                <p:commandButton styleClass="add-ind-button" value="取消" 
                                 onclick="PF('delPostDialogVar').hide();"  />

                <p:commandButton styleClass="add-ind-button" 
                                 onclick="PF('delPostDialogVar').hide();" 
                                 value="確定" action="#{postBean.delPostDB(ticketDataBean.currentTicketData)}" 
                                 update=":ticketListForm:listTable"  />
            </p:dialog>
        </h:form>
    </h:body>
</html>
