<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>票券媒合系統</title>
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="ticketdata.css" />
        <!--<script src="https://use.fontawesome.com/2a877f719f.js"></script>-->
    </h:head>
    <h:body>
        <h:form id="ticketdata" styleClass="table">
            <p:panelGrid style="width:100% ; height:100%;">
                <p:row>
                    <p:column class="add-ind-title" colspan="12">票券資料</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">建檔日期：</p:column>
                    <p:column colspan="6">
                        <p:outputLabel id="create_date" value="#{ticketDataBean.currentTicketData.create_date}" >
                            <f:convertDateTime timeZone="Asia/Taipei" type="both" />
                        </p:outputLabel>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">票券名稱：</p:column>
                    <p:column colspan="6">
                        <h:outputText id="ticketname" value="#{ticketDataBean.currentTicketData.name}" />
                    </p:column>
                </p:row>
                <!-- inputTextarea 改變輸入框的高度 -->
                <p:row>
                    <p:column colspan="2">票券類別：</p:column>
                    <p:column colspan="6" >
                        <h:outputText id="type" value="#{ticketDataBean.currentTicketData.category.name}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">使用期限：</p:column>
                    <p:column colspan="6">
                        <h:outputText id="startDate" 
                                      value="#{ticketDataBean.currentTicketData.startDate}" >
                            <f:convertDateTime timeZone="Asia/Taipei" 
                                               type="date" pattern="yyyy-MM-dd" />
                        </h:outputText> 
                        至 
                        <h:outputText  
                            value="#{ticketDataBean.currentTicketData.endDate}" >
                            <f:convertDateTime timeZone="Asia/Taipei" 
                                               type="date" pattern="yyyy-MM-dd" />
                        </h:outputText> 
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">受贈張數：</p:column>
                    <p:column colspan="6">
                        <h:outputText id="qty" value="#{ticketDataBean.currentTicketData.qty}" />
                    </p:column>
                </p:row>
                 <p:row>
                    <p:column colspan="2">捐贈者：</p:column>
                    <p:column colspan="2"><h:outputText value="#{ticketDataBean.currentTicketData.doner}" /></p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">演出地點：</p:column>
                    <p:column colspan="2"><h:outputText value="#{ticketDataBean.currentTicketData.address}"/></p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">簡介：</p:column>
                    <p:column colspan="7">
                        <h:outputText value="#{ticketDataBean.currentTicketData.content}" />
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:commandButton styleClass="add-ind-button" value="返回" immediate="true" action="ticketData" />
        </h:form>           
    </h:body>
</html>