<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ps="http://java.sun.com/jsf/passthrough">

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>票券媒合系統</title>
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="ticketdata.css" />
        <script src="https://use.fontawesome.com/2a877f719f.js"></script>
    </h:head>
    <h:body>
        <h:form id="ticketdata" styleClass="table">
            <p:focus context="ticketdata" />
            <p:messages autoUpdate="true"/>
            <p:panelGrid style="width:100% ; height:100%;">
                <p:row>
                    <p:column class="add-ind-title" colspan="12">票券資料</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">建檔日期：</p:column>
                    <p:column colspan="6">
                        <p:outputLabel id="create_date" value="#{ticketDataBean.prepareCreateDate()}" >
                            <f:convertDateTime timeZone="Asia/Taipei" type="both" />
                        </p:outputLabel>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">票券名稱：</p:column>
                    <p:column colspan="6">
                        <p:inputText id="ticketname" 
                                     value="#{ticketDataBean.currentTicketData.name}"
                                     maxlength="50" 
                                     required="true"
                                     requiredMessage="必要欄位"
                                     ps:placeholder="字數50字以內">
                            <f:validateLength minimum="1" maximum="50" />
                            <p:ajax process="@this" update="ticketnameError" />
                        </p:inputText>
                        <p:message id="ticketnameError" for="ticketname" />
                    </p:column>
                </p:row>                
                <!-- inputTextarea 改變輸入框的高度 -->
                <p:row>
                    <p:column colspan="2">票券類別：</p:column>
                    <p:column colspan="6" >
                        <p:selectOneMenu 
                            id="type" 
                            value="#{ticketDataBean.currentTicketData.category}" 
                            converter="ticketCategoryConverter">
                            <f:selectItem itemLabel="請選擇" itemValue="0" />
                            <f:selectItems  
                                value="#{ticketCategoryBean.allCategories}" 
                                var="category" itemLabel="#{category.name}"
                                itemValue="#{category}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">使用期限：</p:column>
                    <p:column colspan="6">
                        <p:calendar yearRange="c-100:c+100" value="#{ticketDataBean.currentTicketData.startDate}"  navigator="true" pattern="yyyy-MM-dd" />－
                        <p:calendar yearRange="c-100:c+100" value="#{ticketDataBean.currentTicketData.endDate}"  navigator="true" pattern="yyyy-MM-dd" />
                    </p:column>
                </p:row>               
                <p:row>
                    <p:column colspan="2">受贈張數：</p:column>
                    <p:column colspan="6">
                        <p:spinner id="donation" value="#{ticketDataBean.currentTicketData.qty}" min="0" max="1000"/>張
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">捐贈者：</p:column>
                    <p:column colspan="2"><p:inputText 
                            maxlength="50" ps:placeholder="字數50字以內" value="#{ticketDataBean.currentTicketData.doner}"/></p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">演出地點：</p:column>
                    <p:column colspan="2"><p:inputText maxlength="200" ps:placeholder="字數200字以內" value="#{ticketDataBean.currentTicketData.address}"/></p:column>
                </p:row>                
                <p:row>
                    <p:column colspan="2">簡介</p:column>
                    <p:column colspan="7">
                        <p:inputTextarea maxlength="200" ps:placeholder="字數200字以內"  value="#{ticketDataBean.currentTicketData.content}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:commandButton styleClass="add-ind-button" value="取消" immediate="true" action="ticketData" />
            <p:commandButton styleClass="add-ind-button" value="送出"  action="ticketData-view"/>
        </h:form>           
    </h:body>
</html>